{% extends "base.html" %}
{% load static%} 

{% block title %}
    Main Page
{% endblock  %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" >
{% endblock  %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Kiran's Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/girl.jfif" %}" alt="Kiran- The Authorof This Blog.">
            <h2>KIRAN'S BLOG</h2>
        </header>
        <p>Hi, I am Kiran and I love to Blog about healthy habits and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts<h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "blog/images/girl.jfif" %}" alt="mountain Hiking" />
                        <div class ="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>There's nothing the views uou get whtern hiking in the mountain.</p>
                        </div>    
                    </a>    
                </article>
            </li>    
        </ul>

    </section>

    <section id="about">
        <h2>What I Do.</h2>
        <p>There's nothing the views uou get whtern hiking in the mountain.</p>
        <p>There's nothing the views uou get whtern hiking in the mountain.</p>
    </section>
{% endblock  %}